
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#profile-pic {
    margin-top: 25px;
    border: solid 3px #6C757D
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.block-item {
    max-width: 450px;
    margin-top: 28px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.contact {
    font-size: 32px;
    padding: 5px;
    color: black;
}

.contact:hover {
    color: grey
}

.bullet {
    font-size: 20px;
    width: 32px;
    margin-bottom: 8px;
}

.expand {
    cursor: pointer;
}

.content {
    display: none;
}

.raise-item {
    transition: all .2s ease-in-out
}
  
span#hiding {
    position: absolute;
    margin-top: 400px;
    display: none;
}

#topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }


.deco-none {
color: inherit;
text-decoration: inherit;
}

.deco-none:link {
color: inherit;
text-decoration: inherit;
}

.deco-none:hover {
color: inherit;
text-decoration: inherit;
}

.project {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
    width: 250px;
    height: 125px;
    background-color: lightgrey;
    margin: 20px;
    font-size: 16px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.project-row {
    padding: 5px;
}

.project-row:last-child {
    border-top: 1px solid black;
    width: 240px;
    padding: 5px
}

.filter {
    position: relative;
  }

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 250px;
}

@keyframes zoom-in {
    0% {
     transform: scale(.1);
    }
    100% {
      transform: none;
    }
}
  
.is-animated {
    animation: .6s zoom-in;
}

.td-1 {
    width: 30px;
    vertical-align: center;
}

.td-2 {
    width: 450px;
    vertical-align: center;
}

/* Setup CSS Grid */
.grid-container-1 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 75% 25%;
    grid-gap: 10px;
}

.grid-container-2 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 50px 175px 175px 175px;
    grid-gap: 10px;
}

.grid-container-3 {
    display: grid;
    width: 400px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 18px;
}

.grid-3-item {
    text-align: center;
    font-size: 35px;
}

.skill-logo:hover {
    opacity: 0.5;
    cursor: pointer;
}

.skill-item {
    max-width: 450px;
    margin-top: 28px;
    padding-bottom: 8px
}

@media (max-width: 800px) {
    .grid-container-2 {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 175px;
        grid-gap: 10px;
    }

    .grid-container-3 {
        display: grid;
        width: 300px;
        grid-column-gap: 20px;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    }
}

.desc {
    height: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.col {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightslategray;
}




