#profile-pic {
    margin-top: 25px;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact {
    font-size: 32px;
    padding: 5px;
    color: black;
}

.contact:hover {
    color: grey
}

.edu-wrapper { 
    display: table-row;
    border-collapse:separate; 
    border-spacing: 5px 10px;
    max-width: 250px
}

.edu-details { 
    display: table-cell;
    width: 350px
}

.bullet {
    font-size: 20px;
    display: table-cell; 
    width: 32px;
}

/*
html {
    scroll-behavior: smooth;
}
*/

.exp-wrapper {
    display: table-row;
    border-collapse:separate; 
    border-spacing: 5px 10px;
}

.exp-details {
    display: table-cell;
    width: 350px
}

.raise-item {
    transition: all .2s ease-in-out
}
  
span#hiding {
    position: absolute;
    margin-top: 400px;
    display: none;
}

#topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  